@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
.input {
    --bulma-input-placeholder-color: darkgrey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
    color: black;
}



/* Path: website\index.html */


